- if current_city != prev_city
  = link_to artist_path(artist) do
    .city-title{:id => "#{artist.id}-city-title"}
      - artist.city.upcase.split('').each do |character|
        - if current_city == "Chicago" || current_city == "Atlanta" || current_city == "New York" || current_city == "Los Angeles" || current_city == "Miami"
          %p.gold
            = character
        -else
          %p.silver
            = character
- prev_city = current_city
- x += 1
