%h3 Edit videos
%br
- @artist.music_videos.each do |music_video|
  .row
    .col-xs-10
      = link_to music_video.title, edit_artist_music_video_path(@artist, music_video), remote: true
    .col-xs-1
      = link_to "x", artist_music_video_path(@artist, music_video), method: :delete, data: { confirm: 'Are you sure you want to delete "' + music_video.title + '"?' }
  .carousel-tile
    .youtube-player-container
      .youtube-player{ data: {id: music_video.youtube_id } }
