.container
  .row
    .col-xs-4
      .artist-form
        = render 'edit_form'
      .edit-artist-form
    .col-xs-4.preview-videos
      = render 'preview_videos'
    .col-xs-4
      .edit-music-video-form
        %br
        %br
        %br
        %br
        %br
        %br
        %h3 Click on track title to edit
