.row
  .col-xs-4
    .artist-form
      %br
      %br
      %br
      %br
      %br
      %br
      - if @bio
        %h3= @bio
      - elsif @artist.bio
        %h3= @artist.bio
    .edit-artist-form
  .col-xs-4.preview-videos
    = render 'vertical_carousel'
  .col-xs-4
    .edit-music-video-form
      %br
      %br
      %br
      %br
      %br
      %br
      %h3 Twitter Feed
