-# .body.root
-#   .music-videos-wrapper.row
-#     -@music_videos.each do |music_video|
-#       .music-video-tile.row
-#         .music-video-head
-#           .row
-#             .side_column_body.col-xs-1
-#               - music_video.location.upcase.split('').each do |character|
-#                 .row
-#                   = character
-#             .center_column_body.col-xs-10
-#               .artist_title
-#                 = music_video.artist
-#               .track_title
-#                 = link_to music_video.title, music_video_path(music_video)
-#                 -if !music_video.featuring.empty?
-#                   = ' feat ' + music_video.featuring
-#               .youtube-player{ :data => {:id => music_video.youtube_id } }
-#               -# %iframe{:src => "http://www.youtube.com/embed/#{music_video.youtube_id}", width:"400", height:"200"}
-#             .side_column_body.col-xs-1
-#               - music_video.year.split('').each do |character|
-#                 .row
-#                   = character
