/*
 *= require owl.carousel
 *= require owl.theme
 */


@import "bootstrap-sprockets";
@import "bootstrap";
@import 'https://fonts.googleapis.com/css?family=Modak';


//**//  GENERAL LAYOUT //**//
body {
  background-color: black;
  color: #fafafa;
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
#header_container {
  position: relative;
  z-index: 9999;
}

#alphabet-container {
  position: fixed;
  top: 200px;
  left: 200px;
}
#content_container {
  margin-top: 90px;
}
a {
  color: #1edbcc;
}
.footer {
  height: 100px;
}


//**//  LOAD SCREEN //**//
// #landing_page {
//   text-align: center;
// }
//
// #landing_page img {
//   max-width: 200px;
//   margin-top: 15%;
//   margin-bottom: 15%;
// }
//
// #landing_page, #content_container, #young_blood_header {
//   display: none;
// }


//**//  NAVBAR //**//
.navbar-default {
  border: none;
  .navbar-nav li a {
    color: white;
  }
  background-color: black;
  padding: 30px 0 5px;
}
.navbar-container {
  width: 90%;
  margin: 0 auto;
}
.logo-nav img {
  height: 50px;
}
.nav-vibes {
  display: inline-block;
  width: 100%;
  text-align: justify;
  background-color: rgba(0,0,0,0.5);
  z-index: 9888;
  padding-bottom: 5px;
}
.nav-account {
  display: inline-block;
}
.nav-account a {
  font-size: 2em;
  font-family: 'helvetica', cursive;
  display: block;
  color: white;
}
.filter-title {
  display: inline-block;
}
.filter_radio, #reset-radio {
  display: none;
}
.tags {
  font-size: 20px;
  .submit {
    color: black;
  }
}
#advanced-toggle, #reset-radio, #plus-feature, #edit-artist, #close-new-music-video, #add-new-music-video {
  color: black;
}

.alphabet-marker {
  line-height: 12px;
  opacity: 0.3;
  &:hover {
    opacity: 1;
    color: gold;
  }
}
#edit-artist, #close-new-music-video {
  float: inline;
}
.inline h3 {
  display: inline-block;
}


//**//  CAROUSEL //**//
.owl-carousel .music-video-tile {
  margin: 0 10px;
  text-align: center;
}
.owl-pagination {
  position: absolute;
  left: 10px;
  top: -75;
  z-index: 9998;
}


//**//  MUSIC VIDEO TILES //**//
.music-videos-wrapper {
  padding-top: 40px;
  margin: 0 auto;
  max-width: 642px;
  width: 100%;
}
.music-video-tile {
  margin-bottom: 70px;
}
.center_column_body {
  font-size: 30px;
  line-height: 35px;
}
.side_column_body {
  font-size: 15px;
  line-height: 30px;
}
.artist_title {
  font-family: 'Modak', cursive;
  font-size: 50px;
  text-align: left;
  padding-top: 10px;
}
.track_title {
  font-size: 15px;
  text-align: left;
  letter-spacing: .3em;
}
.city_title {
  height: 400px;
  font-size: 15px;
  background-color: black;
  text-align: center;
  padding: 0 2px;
}
.city_title p {
  margin: 0;
}
.city_divider {
  position: relative;
  margin-top: -80px;
  margin-bottom: 0px;
  width: 100%;
  height: 80px;
  background-color: black;
  z-index: 9997
}
.music-video-tile {
  height: 380px;
}
.music-videos-wrapper {
  margin-top: 50px;
}


// LAZY LOADER for IFRAMES
.youtube-player {
  position: relative;
  padding-bottom: 56.23%;
  /* Use 75% for 4:3 videos */
  height: 0;
  overflow: hidden;
  max-width: 100%;
  background: #000;
  margin: 5px;
}
.youtube-player-container {

}
.youtube-player iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: transparent;
}
.youtube-player img {
  bottom: 0;
  display: block;
  left: 0;
  margin: auto;
  max-width: 100%;
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  height: auto;
  cursor: pointer;
  -webkit-transition: .4s all;
  -moz-transition: .4s all;
  transition: .4s all;
}
.youtube-player img:hover {
  -webkit-filter: brightness(75%);
}
.youtube-player .play {
  height: 72px;
  width: 72px;
  left: 50%;
  top: 50%;
  margin-left: -36px;
  margin-top: -36px;
  position: absolute;
  background: url("//i.imgur.com/TxzC70f.png") no-repeat;
  cursor: pointer;
}


//**//  FORMS //**//
#ft-2, #ft-3, #ft-4 {
  display: none;
}


//**//  COLORS //**//
.gold {
  color: #f6ce26;
}
.silver {
  color: #fafafa;
}
.cyan {
  color: #00ffe1;
}
.purple {
  color: #CE04FF;
}
.red {
  color: #e80316;
}
.green {
  color: #7ae80c;
}
.bubblegum {
  color: #ff307d;
}
.yellow {
  color: #5004FF;
}
.brown {
  color: #ff5004;
}
.mustard {
  color: #ffcd04;
}
