@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: black;
  color: #fafafa;
  font-family: proxima-nova, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

// #landing_page {
//   text-align: center;
// }
//
// #landing_page img {
//   max-width: 200px;
//   margin-top: 20%;
// }
//
// #landing_page, #region_container, #young_blood_header {
//   display: none;
// }

.navbar-brand {
  a {
    color: #125688;
  }
}

.navbar-default {
  background-color: black;
  .navbar-nav li a {
    color: #125688;
  }
  margin-top: 30px;
  border: none;
}

ul.nav.navbar-nav.navbar-right {
  padding-top: 20px;
}

.navbar-container {
  width: 90%;
  margin: 0 auto;
}

.logo-nav img {
  height: 50px;
}

.music-videos-wrapper {
  padding-top: 40px;
  margin: 0 auto;
  max-width: 642px;
  width: 100%;
}

.music-video-tile {
  margin-bottom: 50px;
}

.form-wrapper {
  width: 60%;
  margin: 20px auto;
  background-color: #fff;
  padding: 40px;
  border: 1px solid #eeefef;
  border-radius: 3px;
}

.edit-links {
  margin-top: 20px;
  margin-bottom: 40px;
}

.center_column_body {
  font-size: 30px;
  line-height: 35px;
  letter-spacing: .8em;
}

.side_column_body {
  line-height: 30px;
}

.artist_title {
  font-size: 30px;
}

.track_title {
  font-size: 15px;
}




// LAZY LOADER for IFRAMES
.youtube-player {
    position: relative;
    padding-bottom: 56.23%;
    /* Use 75% for 4:3 videos */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
    margin: 5px;
}

.youtube-player iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: transparent;
}

.youtube-player img {
    bottom: 0;
    display: block;
    left: 0;
    margin: auto;
    max-width: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    height: auto;
    cursor: pointer;
    -webkit-transition: .4s all;
    -moz-transition: .4s all;
    transition: .4s all;
}

.youtube-player img:hover {
    -webkit-filter: brightness(75%);
}

.youtube-player .play {
    height: 72px;
    width: 72px;
    left: 50%;
    top: 50%;
    margin-left: -36px;
    margin-top: -36px;
    position: absolute;
    background: url("//i.imgur.com/TxzC70f.png") no-repeat;
    cursor: pointer;
}
