/*
 *= require owl.carousel
 *= require owl.theme
 */


@import "bootstrap-sprockets";
@import "bootstrap";
@import 'https://fonts.googleapis.com/css?family=Modak';
@import 'https://fonts.googleapis.com/css?family=Bungee+Inline';
@import 'https://fonts.googleapis.com/css?family=Nova+Mono';


//**//  GENERAL LAYOUT //**//
body {
  background-color: black;
  color: white;
  color: #fafafa;
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}
#header_container {
  position: relative;
}
#alphabet-container {
  font-family: 'Nova Mono', cursive;
  position: fixed;
  height: 100%;
  left: 10px;
  top: 10px;
  z-index: 9999;
}
#content-container, #artist-panel-wrapper {
  margin-top: 40px;
  width: 100%;
  z-index: 9999;
}
#filter-title {
  font-size: 30px;
}
a {
  color: #1edbcc;
}
.footer {
  height: 100px;
}


//**//  LOAD SCREEN //**//
// #landing_page {
//   text-align: center;
// }
//
// #landing_page img {
//   max-width: 200px;
//   margin-top: 15%;
//   margin-bottom: 15%;
// }
//
// #landing_page, #content-container, #young_blood_header {
//   display: none;
// }


//**//  NAVBAR //**//
.navbar-default {
  border: none;
  .navbar-nav li a {
    color: white;
  }
  background-color: transparent;
  padding-top: 30px;
}
.navbar-container {
  width: 100%;
  margin: 0 auto;
}
.logo-nav img {
  position: fixed;
  left: 65px;
  height: 50px;
  z-index: 9999;
}
.nav-account {
  display: inline-block;
}
.nav-account a {
  font-size: 2em;
  font-family: 'helvetica', cursive;
  display: block;
  color: white;
}
.filter-radio, #reset-radio {
  display: none;
}
.filter-radio {
  margin: 0;
  padding: 0;
}
.tags {
  position: fixed;
  font-size: 20px;
  .submit {
    color: black;
    margin-bottom: 0;
  }
  form  {
    margin-bottom: 0;
  }
  a {
    color: white;
  }
}
#playlist-start, #advanced-toggle, #reset-radio, #plus-feature, #edit-artist, #close-new-music-video, #add-new-music-video, #add-new-artist {
  color: black;
}

#advanced-toggle, #reset-radio, #playlist-start {
  font-size: 12px;
  margin: 0;
}

#add-new-artist {
  display: none;
  margin-bottom: 0;
}

.alphabet-marker {
  line-height: 12px;
  opacity: 0.3;
  &:hover {
    opacity: 1;
    color: gold;
  }
}

#edit-artist, #close-new-music-video {
  float: inline;
}
.inline h3 {
  display: inline-block;
}

#filter-header {
  display: none;
}
.tags {
  z-index: 9999;
}


//<a href="https://icons8.com/web-app/16873/Tape-Drive">Tape drive icon credits</a>

//**//  CAROUSEL //**//
.owl-pagination {
  display: none;
}
.pagination-marker {
  background: url('cassette.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 40px;
  height: 20px;
}

//**//  MUSIC VIDEO TILES //**//
.music-videos-wrapper {
  padding-top: 100px;
  padding-left: 50px;
  z-index: 8888;
}
.music-video-tile {
  margin: 0 10px 100px;
  text-align: center;
  width: 100%;
}
.center-column-body {
  margin-bottom: 20px;
  text-align: left;
  font-size: 30px;
  line-height: 35px;
}
.side-column-body {
  text-align: center;
  padding: 0;
}
.artist-title {
  font-family: 'Bungee Inline', cursive;
  font-size: 50px;
  padding-top: 10px;
}
.track_title, .year-title {
  font-size: 15px;
  letter-spacing: .3em;
  display: inline-block;
}
.year-title {
  opacity: 0.3;
}
.city-title {
  font-family: 'Nova Mono', cursive;
  height: 400px;
  font-size: 24px;
  background-color: black;
  text-align: center;
}
.city-title p {
  line-height: 20px;
}
.year {
  font-size: 15px;
}
.spacer {
  height: 2px;
}
.city-divider2 {
  background-color: black;
  position: relative;
  margin-bottom: 0;
  width: 100%;
  height: 80px;
  z-index: 9997;
}
.city-divider {
  position: relative;
  margin-top: -160px;
  margin-bottom: 0;
  width: 100%;
  height: 80px;
  // background-color: black;
  z-index: 9997;
  background-image: -webkit-gradient(
    linear, left bottom, left top, from(rgba(0,0,0,1)),
    to(rgba(0,0,0,.1))
  );
  background-image: -moz-linear-gradient(
    rgba(0,0,0,1) 0%, rgba(0,0,0,1) 100%
  );
}
.music-video-tile {
  height: 380px;
}


// LAZY LOADER for IFRAMES
.youtube-player {
  position: relative;
  padding-bottom: 56.23%;
  /* Use 75% for 4:3 videos */
  height: 0;
  overflow: hidden;
  max-width: 100%;
  background: #000;
  margin: 5px;
}
.youtube-player iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: transparent;
}
.youtube-player img {
  bottom: 0;
  display: block;
  left: 0;
  margin: auto;
  max-width: 100%;
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  height: auto;
  cursor: pointer;
  -webkit-transition: .4s all;
  -moz-transition: .4s all;
  transition: .4s all;
}
.youtube-player img:hover {
  -webkit-filter: brightness(75%);
}
.youtube-player .play {
  height: 72px;
  width: 72px;
  left: 50%;
  top: 50%;
  margin-left: -36px;
  margin-top: -36px;
  position: absolute;
  background: url("//i.imgur.com/TxzC70f.png") no-repeat;
  cursor: pointer;
}

//**//  FORMS //**//
#ft-2, #ft-3, #ft-4 {
  display: none;
}


//**//  COLORS //**//
.gold {
  color: #FFED30;
}
.pink {
  color: #FF307E;
}
.teal {
  color: #1EDBCC;
}
.white {
  color: white;
}
.hidden {
  display: none;
}
